.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: rgba(250, 250, 250, 0.9);
    border-top: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
    z-index: 10;
}

.footer .left .collapse,
.footer .left .collapsing {
    position: absolute;
    bottom: 100%;
    left: 0;
}

.footer .right .collapse,
.footer .right .collapsing {
    position: absolute;
    bottom: 100%;
    right: 0;
}

.footer .left .panel {
    max-height: 80vh;
    overflow: auto;
    border-radius: 6px 6px 0 0;
    width: 20vw;
}

.footer .right .panel {
    max-height: 80vh;
    overflow: auto;
    border-radius: 6px 6px 0 0;
    width: 80vw;
}

.footer .left,
.footer .right {
    display: flex;
    gap: 8px;
    align-items: center;
}