.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 1 auto;
    width: 100%;
}

.layout .image {
    max-width: 300px;
}

.layout .title {
    max-width: 600px;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0 0 0;
}

.layout .description {
    max-width: 600px;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 0 0;
}

.layout .details {
    max-width: 600px;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 0 0;
}

.layout.empty .title { color: #c0392b; }
.layout.loading .title { color: #2980b9; }
.layout.maintenance .title { color: #f39c12; }
.layout.development .title { color: #27ae60; }